---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Who Am I?">
  <p>
    My name is Andy and I built my first Astro projext using
    <a href="https://www.ceos3c.com">ceos3c.com</a>!
  </p>
</MainLayout>
