<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Pool</li>
    <li>Coding</li>
    <li>Road Trips</li>
    <li>Texas Holdem</li>
  </ul>
</body>
